[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
opencv-python = "*"
matplotlib = "*"
imutils = "*"
simple-pid = "*"
Pillow = "*"
shapely = "*"
python-statemachine = "*"

[requires]
python_version = "3.9"
